#m  h   d   m   d   command
*   *   *   *   *   /usr/local/bin/php /src/php/app/cli/cli.php register sendMail
*   *   *   *   *   /usr/local/bin/php /src/php/app/cli/cli.php transaction checkConfirmations
